/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : 23-may-2017, 5:23:32
    Author     : Nelson Caraballo
*/

.box-doc {
    border: 1px solid;
    border-radius: 10px;
    background: transparent;
    margin-bottom: 0px;
}

.box-doc .box-header {
    padding-bottom: 0px;
    font-weight: bold;
}

.oferta .col-sm-12,
.oferta .col-xs-12 {
    margin-bottom: 10px;
}

.oferta .col-xs-4,
oferta .col-xs-8 {
    padding-right: 8px;
    padding-left: 8px
}

.attachment-block .title {
    font-weight: bold;
    text-align: center;
}

.attachment-block .table-striped td {
    text-align: center;
}

#empresas img {
    width: 100px;
}

#empresas td {
    vertical-align: middle;
}

.form-inline input {
    margin-right: 10px;
    margin-left: 10px;
}

.user-panel>.info {
    left: 0px;
}

.list-group-item-open {
    min-height: max-content;
    overflow: auto;
}

.barra {
    overflow-x: auto;
    margin-right: 9px;
    margin-left: 9px;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    height: 34px;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-radius: 0px;
    border-color: #d2d6de;
}

ul.alert li {
    margin-left: 15px;
}

.pointer {
    cursor: pointer;
}

.setup-body {
    background-color: rgb(220, 240, 220);
    min-width: 0;
    min-height: 0; 
    color: #33334f;    
}

.setup-onboarding {
    text-align: center;
    width: 100%;
    display:flex;
}

.onboarding_wrapper {
    width: 100%;
    padding: 0px 25%;
}

.onboarding_header {
    text-align: center;
}

.onboarding_subtitle {
    font-size: 16px;
    font-weight: 400;
}

.onboarding_logo {
    margin-right: 1.5rem;
}

.onboarding_integration {
    background-color: white;
}

.onboarding_connect {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    width: 50px;
    background-color: rgba(96,120,255,.05);
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 18px auto;
    margin-left: auto;
    background-image: url("../img/arrow.svg");
    text-indent: -9999rem;
}

.onboarding_small {    
    display: block;    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .onboarding_wrapper {    
        padding: 0px 30px;
    }

    .subtitle {
        font-size: 80%;
    }

    .media-content {
        overflow-x: initial; 
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}