/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : 23-may-2017, 5:23:32
    Author     : Nelson Caraballo
*/

.box-doc {
    border: 1px solid;
    border-radius: 10px;
    background: transparent;
    margin-bottom: 0px;
}

.box-doc .box-header {
    padding-bottom: 0px;
    font-weight: bold;
}

.oferta .col-sm-12,
.oferta .col-xs-12 {
    margin-bottom: 10px;
}

.oferta .col-xs-4,
oferta .col-xs-8 {
    padding-right: 8px;
    padding-left: 8px
}

.attachment-block .title {
    font-weight: bold;
    text-align: center;
}

.attachment-block .table-striped td {
    text-align: center;
}

#empresas img {
    width: 100px;
}

#empresas td {
    vertical-align: middle;
}

.form-inline input {
    margin-right: 10px;
    margin-left: 10px;
}

.user-panel>.info {
    left: 0px;
}

.list-group-item-open {
    min-height: max-content;
    overflow: auto;
}

.barra {
    overflow-x: auto;
    margin-right: 9px;
    margin-left: 9px;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    height: 34px;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-radius: 0px;
    border-color: #d2d6de;
}

ul.alert li {
    margin-left: 15px;
}

.pointer {
    cursor: pointer;
}